<?xml version="1.0"?>
<launch>
    <rosparam command="load" file="$(find smartworkcell)/config/camera_calibration_params.yaml"/>
    
    <arg name="predefined_marker_path" default="$(find smartworkcell)/config/robot2marker.yaml"/>
    
    <param name="predefined_marker_path" value="$(arg predefined_marker_path)"/>
    <node name="camera_calibration_node" pkg="smartworkcell" type="CameraRobotCalibration.py"  output="screen" respawn="false" respawn_delay="0" args="">
    </node>
</launch>