<?xml version="1.0"?>
<launch>
    <include file="$(find ur_gazebo)/launch/ur3e_bringup.launch"/>
    <include file="$(find ur3e_moveit_config)/launch/moveit_planning_execution.launch">
        <arg name="sim" value="True"/>
    </include>
    <include file="$(find ur3e_moveit_config)/launch/moveit_rviz.launch"/>
</launch>